In [1]:
# Restrictions: ONLY named individuals

import pandas as pd

json_file_path = './ice-and-fire.json'
df = pd.read_json(json_file_path)
df.drop('predecessor', axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1345 non-null   object
 1   allegiance     1186 non-null   object
 2   father         942 non-null    object
 3   successor      194 non-null    object
 4   url            1345 non-null   object
 5   fatherRumored  11 non-null     object
 6   mother         490 non-null    object
 7   spouse         523 non-null    object
 8   motherRumored  2 non-null      object
dtypes: object(9)
memory usage: 94.7+ KB

In [2]:
# Remove datapoints that have no relation at all.
# Old code and technically not necessarily anymore, already done in node.js
data_without_relation = df[(df['father'].isnull()) \
                           & (df['mother'].isnull()) \
                           & (df['successor'].isnull()) \
                           & (df['spouse'].isnull())]

data_with_relation = df[~df['name'].isin(data_without_relation['name'])]
data_with_relation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1315 entries, 0 to 1344
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1315 non-null   object
 1   allegiance     1172 non-null   object
 2   father         942 non-null    object
 3   successor      194 non-null    object
 4   url            1315 non-null   object
 5   fatherRumored  11 non-null     object
 6   mother         490 non-null    object
 7   spouse         523 non-null    object
 8   motherRumored  2 non-null      object
dtypes: object(9)
memory usage: 102.7+ KB

In [3]:
duplicate_names = df[df['name'].duplicated()]
duplicate_names['name'].value_counts()

Series([], Name: name, dtype: int64)

In [4]:
# Weed out double fathers.
# Some are actually double, because they are rumoured
multiple_fathers = df[df['father'].apply(lambda x: isinstance(x, list) and len(x) > 1)]
multiple_fathers['father']

Series([], Name: father, dtype: object)

In [5]:
# Weed out double moms.
# Some are actually double, because they are rumoured
multiple_mothers = df[df['mother'].apply(lambda x: isinstance(x, list) and len(x) > 1)]
multiple_mothers['mother']

Series([], Name: mother, dtype: object)

In [6]:
# Weed out erratic spouses.
multiple_spouses = df[df['spouse'].apply(lambda x: isinstance(x, list) and len(x) > 1)]
multiple_spouses[['name', 'spouse']]

,name,spouse
82,Alys Karstark,"[Sigorn, Thenns]"
103,Alyssa Velaryon,"[Aenys I Targaryen, Rogar Baratheon]"
108,Amerei Frey,"[Pate of the Blue Fork, Lancel Lannister]"
290,Craster,"[Dyah, Ferny, Nella, Gilly]"
293,Cregan Stark,"[Arra Norrey, Alysanne Blackwood, Lynara Stark]"
310,Daemon Targaryen,"[Rhea Royce, Laena Velaryon, Rhaenyra Targaryen]"
328,Dalton Greyjoy,"[Tess, Kayce, Lysa Farman]"
342,Davos Dayne,"[Nymeria, Ny Sar]"
369,Donella Hornwood,"[Halys Hornwood, Ramsay Snow]"
401,Elaena Targaryen,"[Ossifer Plumm, Ronnel Penrose, Michael Manwoody]"
407,Elenda Baratheon,"[Borros Baratheon, Steffon Connington]"
413,Elinor Costayne,"[Theo Bolling, Maegor I Targaryen]"
421,Ellyn Reyne,"[Tion Lannister, Walderan Tarbeck]"
497,Gerold Lannister,"[Alysanne Farman, Rohanne Webber]"
518,Gunthor Goodbrother,"[Lysa Farman, Salt wife]"
596,Huzhor Amai,"[Cymmeri, Gipps, Zoqora]"
621,Jason Lannister (son of Gerold),"[Alys Stackspear, Marla Prester]"
652,Jeyne Westerling (wife of Maegor I),"[Alyn Tarbeck, Maegor I Targaryen]"
669,Jon Arryn,"[Jeyne Royce, Rowena Arryn, Lysa Arryn]"
689,Jonnel Stark,"[Sansa Stark (daughter of Rickon), Robyn Ryswell]"
694,Jorah Mormont,"[House Glover, Lynesse Hightower]"
710,Kiera of Tyrosh,"[Valarr Targaryen, Daeron Targaryen (son of Ma..."
795,Lysa Arryn,"[Jon Arryn, Petyr Baelish]"
796,Lysa Farman,"[Dalton Greyjoy, Salt wife, Gunthor Goodbrother]"
824,Margaery Tyrell,"[Renly Baratheon, Joffrey Baratheon, Tommen Ba..."
924,Nymeria of Ny Sar,"[Mors Martell, House Uller, Hellholt, Davos Da..."
986,Quellon Greyjoy,"[Lady Stonetree (wife of Quellon Greyjoy), Lad..."
994,Ramsay Snow,"[Donella Hornwood, Jeyne Poole]"
1019,Rhaena Targaryen (daughter of Aenys I),"[Aegon Targaryen (son of Aenys I), Maegor I Ta..."
1020,Rhaena Targaryen (daughter of Daemon),"[Corwyn Corbray, Garmund Hightower]"
1022,Rhaenyra Targaryen,"[Laenor Velaryon, Daemon Targaryen]"
1077,Rohanne Webber,"[Simon Staunton, Rolland Uffering, Eustace Osg..."
1093,Roose Bolton,"[Bethany Bolton, Walda Frey (daughter of Merre..."
1120,Samantha Tarly,"[Ormund Hightower, Lyonel Hightower]"
1138,Serena Stark,"[Jon Umber (husband of Serena), Edric Stark (s..."
1172,Stevron Frey,"[Corenna Swann, Jeyne Lydden, Marsella Waynwood]"
1193,Tess,"[Dalton Greyjoy, Salt wife]"
1239,Tyrion Lannister,"[Tysha, Sansa Stark]"
1274,Veron Greyjoy,"[House Farman, Salt wife]"
1301,Walder Frey,"[Perra Royce, Cyrenna Swann, Amarei Crakehall,..."
1323,Willam Stark,"[Lyanne Glover, Melantha Blackwood]"

In [7]:
# Datapoints with children
data_with_children = data_without_relation[
    (data_without_relation['name'].isin(data_with_relation['mother']))
    | (data_without_relation['name'].isin(data_with_relation['father']))]

data_with_children.head()

,name,allegiance,father,successor,url,fatherRumored,mother,spouse,motherRumored
495,Gerold Grafton,NaN,NaN,None,http://awoiaf.westeros.org/index.php/Gerold_Gr...,NaN,NaN,NaN,NaN

In [8]:
# data_with_relation[data_with_relation['name'] == 'Aelor Targaryen']
data_with_relation['father']

0       Manfred Hightower (Aegon's Conquest)
1                             Damon Marbrand
2                             Eustace Osgrey
3                            Laenor Velaryon
4                            House Whitehead
                        ...
1340                                     NaN
1341                              Yohn Royce
1342                              Tytos Frey
1343                                     NaN
1344                              Tytos Frey
Name: father, Length: 1315, dtype: object

In [9]:
# Datapoints for whom spouse is the only relationship

data_with_spouses = data_with_relation[(~data_with_relation['spouse'].isnull()) 
                                      & (df['father'].isnull()) 
                                       & (df['mother'].isnull()) 
                                       & (df['successor'].isnull())]

data_with_spouses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 22 to 1343
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           256 non-null    object
 1   allegiance     241 non-null    object
 2   father         0 non-null      object
 3   successor      0 non-null      object
 4   url            256 non-null    object
 5   fatherRumored  0 non-null      object
 6   mother         0 non-null      object
 7   spouse         256 non-null    object
 8   motherRumored  0 non-null      object
dtypes: object(9)
memory usage: 20.0+ KB

/var/folders/dy/hw0ckby90bxf_gm4t4jmb1yh0000gn/T/ipykernel_73720/936377067.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_with_spouses = data_with_relation[(~data_with_relation['spouse'].isnull())

In [10]:
data_with_spouses.head()

,name,allegiance,father,successor,url,fatherRumored,mother,spouse,motherRumored
22,Aelinor Penrose,"[House Penrose, House Targaryen]",NaN,None,http://awoiaf.westeros.org/index.php/Aelinor_P...,NaN,NaN,[Aerys I Targaryen],NaN
47,Alarra Massey,"[House Massey, House Velaryon]",NaN,None,http://awoiaf.westeros.org/index.php/Alarra_Ma...,NaN,NaN,[Aethan Velaryon],NaN
50,Alayne,[House Baelish],NaN,None,http://awoiaf.westeros.org/index.php/Alayne_Ba...,NaN,NaN,[Baelish (lord)],NaN
74,Alyn Tarbeck,[House Tarbeck],NaN,None,http://awoiaf.westeros.org/index.php/Alyn_Tarbeck,NaN,NaN,[Jeyne Westerling (wife of Maegor I)],NaN
78,Alys Arryn (wife of Rhaegel),"[House Arryn, House Targaryen]",NaN,None,http://awoiaf.westeros.org/index.php/Alys_Arry...,NaN,NaN,[Rhaegel Targaryen],NaN

In [11]:
# Get spouses that have a spouse present in the dataset with all 
# parent-child relationships

parent_child_spouses = df.explode('spouse').dropna(subset=['spouse'])['spouse'].unique()
data_spouse_family = data_with_spouses[data_with_spouses['name'].isin(parent_child_spouses)]
data_spouse_family.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 47 to 1343
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           192 non-null    object
 1   allegiance     182 non-null    object
 2   father         0 non-null      object
 3   successor      0 non-null      object
 4   url            192 non-null    object
 5   fatherRumored  0 non-null      object
 6   mother         0 non-null      object
 7   spouse         192 non-null    object
 8   motherRumored  0 non-null      object
dtypes: object(9)
memory usage: 15.0+ KB

In [12]:
data_spouse_family.head()

,name,allegiance,father,successor,url,fatherRumored,mother,spouse,motherRumored
47,Alarra Massey,"[House Massey, House Velaryon]",NaN,None,http://awoiaf.westeros.org/index.php/Alarra_Ma...,NaN,NaN,[Aethan Velaryon],NaN
74,Alyn Tarbeck,[House Tarbeck],NaN,None,http://awoiaf.westeros.org/index.php/Alyn_Tarbeck,NaN,NaN,[Jeyne Westerling (wife of Maegor I)],NaN
78,Alys Arryn (wife of Rhaegel),"[House Arryn, House Targaryen]",NaN,None,http://awoiaf.westeros.org/index.php/Alys_Arry...,NaN,NaN,[Rhaegel Targaryen],NaN
79,Alys Beesbury,"[House Beesbury, House Tyrell]",NaN,None,http://awoiaf.westeros.org/index.php/Alys_Bees...,NaN,NaN,[Leo Tyrell (son of Victor)],NaN
80,Alys Frey,[House Frey],NaN,None,http://awoiaf.westeros.org/index.php/Alys_Frey,NaN,NaN,[Jared Frey],NaN

In [13]:
all_usable_data = pd.concat([data_with_children, data_spouse_family, data_with_relation])
len(all_usable_data)

1508

In [14]:
all_usable_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1508 entries, 495 to 1344
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1508 non-null   object
 1   allegiance     1354 non-null   object
 2   father         942 non-null    object
 3   successor      194 non-null    object
 4   url            1508 non-null   object
 5   fatherRumored  11 non-null     object
 6   mother         490 non-null    object
 7   spouse         715 non-null    object
 8   motherRumored  2 non-null      object
dtypes: object(9)
memory usage: 117.8+ KB

In [15]:
first_layer = all_usable_data[(all_usable_data['father'].isnull()) & (all_usable_data['mother'].isnull())]
first_layer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 529 entries, 495 to 1343
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           529 non-null    object
 1   allegiance     467 non-null    object
 2   father         0 non-null      object
 3   successor      80 non-null     object
 4   url            529 non-null    object
 5   fatherRumored  0 non-null      object
 6   mother         0 non-null      object
 7   spouse         460 non-null    object
 8   motherRumored  0 non-null      object
dtypes: object(9)
memory usage: 41.3+ KB

In [16]:
all_usable_data.explode('allegiance').dropna(subset=['allegiance']).value_counts('allegiance').head(50)

allegiance
House Frey                        163
House Targaryen                   144
House Stark                       110
House Lannister                    81
Blacks                             54
House Tyrell                       50
House Hightower                    46
House Baratheon                    36
House Martell                      36
House Greyjoy                      32
House Velaryon                     28
House Arryn                        28
Greens                             25
House Tully                        19
Night's Watch                      18
House Blackwood                    18
House Royce                        17
House Bracken                      17
House Manderly                     16
Kingsguard                         16
House Redwyne                      16
House Florent                      15
House Waynwood                     14
Citadel                            14
House Tarbeck                      14
House Baratheon of Dragonstone     13
House Blackfyre                    13
House Osgrey                       13
House Karstark                     12
House Westerling                   12
Faith of the Seven                 12
House Rowan                        12
House Stokeworth                   12
House Tarly                        12
House Mormont                      11
House Glover                       11
House Seaworth                     11
City Watch of King's Landing       11
Brotherhood without banners        11
House Bolton                       11
House Darklyn                      10
House Umber                        10
House Penrose                       9
Mance Rayder                        9
House Crakehall                     9
House Tallhart                      9
House Botley                        9
House Beesbury                      9
House Brax                          9
House Sarwyck                       9
dtype: int64

In [17]:
first_layer[first_layer['successor'].notna()]['successor'].head(100)

58          [Alekyne Florent, Davos Seaworth]
65           [Edwell Celtigar, Osmund Strong]
73      [Lord Stokeworth, Maegor I Targaryen]
107                            [Lord Hayford]
131                       [Arlan V Durrandon]
                        ...
1257                        [Torgon Greyiron]
1263                      [Urrigon Hightower]
1273                                 [Qyburn]
1322                         [Barbrey Dustin]
1331                         [Rohanne Webber]
Name: successor, Length: 80, dtype: object

In [18]:
# Transform nodes into partnerships (= single or couple), 
# so that they will be easier to use in a hierarchical structure

all_with_spouse = all_usable_data[all_usable_data['spouse'].notnull()]
all_with_spouse.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 47 to 1343
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           715 non-null    object
 1   allegiance     685 non-null    object
 2   father         251 non-null    object
 3   successor      61 non-null     object
 4   url            715 non-null    object
 5   fatherRumored  2 non-null      object
 6   mother         149 non-null    object
 7   spouse         715 non-null    object
 8   motherRumored  0 non-null      object
dtypes: object(9)
memory usage: 55.9+ KB

In [19]:
all_no_spouse = all_usable_data[all_usable_data['spouse'].isna()]
all_no_spouse.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 793 entries, 495 to 1344
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           793 non-null    object
 1   allegiance     669 non-null    object
 2   father         691 non-null    object
 3   successor      133 non-null    object
 4   url            793 non-null    object
 5   fatherRumored  9 non-null      object
 6   mother         341 non-null    object
 7   spouse         0 non-null      object
 8   motherRumored  2 non-null      object
dtypes: object(9)
memory usage: 62.0+ KB

In [20]:
all_relations = all_with_spouse.explode('spouse').dropna(subset=['spouse'])
all_relations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 750 entries, 47 to 1343
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           750 non-null    object
 1   allegiance     720 non-null    object
 2   father         291 non-null    object
 3   successor      77 non-null     object
 4   url            750 non-null    object
 5   fatherRumored  2 non-null      object
 6   mother         171 non-null    object
 7   spouse         750 non-null    object
 8   motherRumored  0 non-null      object
dtypes: object(9)
memory usage: 58.6+ KB

In [33]:
# all_relations.reset_index(inplace=True)
all_relations_with_spouse = pd.merge(all_relations, all_relations, how='left', left_on='spouse', right_on='name', suffixes=('', '_spouse'))
all_relations_with_spouse = all_relations_with_spouse.reset_index()
all_relations_with_spouse = pd.merge(all_relations_with_spouse, all_no_spouse, how='left', left_on='spouse', right_on='name', suffixes=('', '_no-spouse'))

all_relations_with_spouse.info(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1298 entries, 0 to 1297
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    1298 non-null   int64
 1   name                     1298 non-null   object
 2   allegiance               1203 non-null   object
 3   father                   470 non-null    object
 4   successor                112 non-null    object
 5   url                      1298 non-null   object
 6   fatherRumored            2 non-null      object
 7   mother                   270 non-null    object
 8   spouse                   1298 non-null   object
 9   motherRumored            0 non-null      object
 10  name_spouse              1174 non-null   object
 11  allegiance_spouse        1084 non-null   object
 12  father_spouse            555 non-null    object
 13  successor_spouse         129 non-null    object
 14  url_spouse               1174 non-null   object
 15  fatherRumored_spouse     2 non-null      object
 16  mother_spouse            278 non-null    object
 17  spouse_spouse            1174 non-null   object
 18  motherRumored_spouse     0 non-null      object
 19  name_no-spouse           25 non-null     object
 20  allegiance_no-spouse     2 non-null      object
 21  father_no-spouse         22 non-null     object
 22  successor_no-spouse      22 non-null     object
 23  url_no-spouse            25 non-null     object
 24  fatherRumored_no-spouse  2 non-null      object
 25  mother_no-spouse         21 non-null     object
 26  spouse_no-spouse         0 non-null      object
 27  motherRumored_no-spouse  0 non-null      object
dtypes: int64(1), object(27)
memory usage: 294.1+ KB

In [34]:
all_relations_with_spouse = all_relations_with_spouse.drop_duplicates(subset=['name', 'father', 'mother', 'spouse', 'name_spouse', 'father_spouse', 'mother_spouse'], ignore_index=True)
all_relations_with_spouse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    549 non-null    int64
 1   name                     549 non-null    object
 2   allegiance               532 non-null    object
 3   father                   291 non-null    object
 4   successor                77 non-null     object
 5   url                      549 non-null    object
 6   fatherRumored            2 non-null      object
 7   mother                   171 non-null    object
 8   spouse                   549 non-null    object
 9   motherRumored            0 non-null      object
 10  name_spouse              443 non-null    object
 11  allegiance_spouse        429 non-null    object
 12  father_spouse            226 non-null    object
 13  successor_spouse         57 non-null     object
 14  url_spouse               443 non-null    object
 15  fatherRumored_spouse     2 non-null      object
 16  mother_spouse            141 non-null    object
 17  spouse_spouse            443 non-null    object
 18  motherRumored_spouse     0 non-null      object
 19  name_no-spouse           25 non-null     object
 20  allegiance_no-spouse     2 non-null      object
 21  father_no-spouse         22 non-null     object
 22  successor_no-spouse      22 non-null     object
 23  url_no-spouse            25 non-null     object
 24  fatherRumored_no-spouse  2 non-null      object
 25  mother_no-spouse         21 non-null     object
 26  spouse_no-spouse         0 non-null      object
 27  motherRumored_no-spouse  0 non-null      object
dtypes: int64(1), object(27)
memory usage: 120.2+ KB

In [39]:
all_relations_with_spouse[all_relations_with_spouse['name_spouse'].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 14 to 541
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    106 non-null    int64
 1   name                     106 non-null    object
 2   allegiance               103 non-null    object
 3   father                   57 non-null     object
 4   successor                22 non-null     object
 5   url                      106 non-null    object
 6   fatherRumored            0 non-null      object
 7   mother                   29 non-null     object
 8   spouse                   106 non-null    object
 9   motherRumored            0 non-null      object
 10  name_spouse              0 non-null      object
 11  allegiance_spouse        0 non-null      object
 12  father_spouse            0 non-null      object
 13  successor_spouse         0 non-null      object
 14  url_spouse               0 non-null      object
 15  fatherRumored_spouse     0 non-null      object
 16  mother_spouse            0 non-null      object
 17  spouse_spouse            0 non-null      object
 18  motherRumored_spouse     0 non-null      object
 19  name_no-spouse           25 non-null     object
 20  allegiance_no-spouse     2 non-null      object
 21  father_no-spouse         22 non-null     object
 22  successor_no-spouse      22 non-null     object
 23  url_no-spouse            25 non-null     object
 24  fatherRumored_no-spouse  2 non-null      object
 25  mother_no-spouse         21 non-null     object
 26  spouse_no-spouse         0 non-null      object
 27  motherRumored_no-spouse  0 non-null      object
dtypes: int64(1), object(27)
memory usage: 24.0+ KB

In [37]:
all_relations_with_spouse[all_relations_with_spouse['name_no-spouse'].notna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 204 to 529
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    25 non-null     int64
 1   name                     25 non-null     object
 2   allegiance               23 non-null     object
 3   father                   21 non-null     object
 4   successor                8 non-null      object
 5   url                      25 non-null     object
 6   fatherRumored            0 non-null      object
 7   mother                   12 non-null     object
 8   spouse                   25 non-null     object
 9   motherRumored            0 non-null      object
 10  name_spouse              0 non-null      object
 11  allegiance_spouse        0 non-null      object
 12  father_spouse            0 non-null      object
 13  successor_spouse         0 non-null      object
 14  url_spouse               0 non-null      object
 15  fatherRumored_spouse     0 non-null      object
 16  mother_spouse            0 non-null      object
 17  spouse_spouse            0 non-null      object
 18  motherRumored_spouse     0 non-null      object
 19  name_no-spouse           25 non-null     object
 20  allegiance_no-spouse     2 non-null      object
 21  father_no-spouse         22 non-null     object
 22  successor_no-spouse      22 non-null     object
 23  url_no-spouse            25 non-null     object
 24  fatherRumored_no-spouse  2 non-null      object
 25  mother_no-spouse         21 non-null     object
 26  spouse_no-spouse         0 non-null      object
 27  motherRumored_no-spouse  0 non-null      object
dtypes: int64(1), object(27)
memory usage: 5.7+ KB

In [24]:
all_relations_with_spouse[all_relations_with_spouse['name_spouse'].isna()].sort_values('name').head(20)

,index,name,allegiance,father,successor,url,fatherRumored,mother,spouse,motherRumored,name_spouse,allegiance_spouse,father_spouse,successor_spouse,url_spouse,fatherRumored_spouse,mother_spouse,spouse_spouse,motherRumored_spouse
204,381,Aelinor Penrose,"[House Penrose, House Targaryen]",NaN,None,http://awoiaf.westeros.org/index.php/Aelinor_P...,NaN,NaN,Aerys I Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,384,Aemma Arryn,"[House Arryn, House Targaryen]",Rodrik Arryn,[Alicent Hightower],http://awoiaf.westeros.org/index.php/Aemma_Arryn,NaN,Daella Targaryen (daughter of Jaehaerys I),Viserys I Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,390,Aerion Targaryen[1],[House Targaryen],Daemion Targaryen,None,http://awoiaf.westeros.org/index.php/Aerion_Ta...,NaN,NaN,Valaena Velaryon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,393,Alannys Harlaw,"[House Greyjoy, House Harlaw]",House Harlaw,None,http://awoiaf.westeros.org/index.php/Alannys_H...,NaN,NaN,Balon Greyjoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,397,Alayne,[House Baelish],NaN,None,http://awoiaf.westeros.org/index.php/Alayne_Ba...,NaN,NaN,Baelish (lord),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,401,Aliandra Martell,[House Martell],Qoren Martell,None,http://awoiaf.westeros.org/index.php/Aliandra_...,NaN,NaN,Drazenko Rogare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,402,Alicent Hightower,"[House Hightower, House Targaryen, Greens]",Otto Hightower,"[Helaena Targaryen, Daemon Targaryen]",http://awoiaf.westeros.org/index.php/Alicent_H...,NaN,NaN,Viserys I Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,413,Alys Harroway,"[House Harroway, House Targaryen]",Lucas Harroway,"[Ceryse Hightower, Tyanna of the Tower]",http://awoiaf.westeros.org/index.php/Alys_Harr...,NaN,NaN,Maegor I Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,415,Alys Karstark,"[House Karstark, House Thenn]",Rickard Karstark,None,http://awoiaf.westeros.org/index.php/Alys_Kars...,NaN,NaN,Thenns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,431,Alysanne Targaryen,[House Targaryen],Aenys I Targaryen,[Aemma Arryn],http://awoiaf.westeros.org/index.php/Alysanne_...,NaN,Alyssa Velaryon,Jaehaerys I Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,440,Alyssa Targaryen,[House Targaryen],Jaehaerys I Targaryen,None,http://awoiaf.westeros.org/index.php/Alyssa_Ta...,NaN,Alysanne Targaryen,Baelon Targaryen (son of Jaehaerys I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,441,Alyssa Velaryon,"[House Velaryon, House Targaryen, House Barath...",Aethan Velaryon,None,http://awoiaf.westeros.org/index.php/Alyssa_Ve...,NaN,Alarra Massey,Aenys I Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,453,Amerei Frey,"[House Frey, House Lannister of Darry]",Merrett Frey,None,http://awoiaf.westeros.org/index.php/Amerei_Frey,NaN,Mariya Darry,Lancel Lannister,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,452,Amerei Frey,"[House Frey, House Lannister of Darry]",Merrett Frey,None,http://awoiaf.westeros.org/index.php/Amerei_Frey,NaN,Mariya Darry,Pate of the Blue Fork,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,479,Arwen Upcliff,"[House Upcliff, House Arryn]",NaN,None,http://awoiaf.westeros.org/index.php/Arwen_Upc...,NaN,NaN,Alester II Arryn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,42,Arya Flint,"[House Flint of the mountains, House Stark]",NaN,None,http://awoiaf.westeros.org/index.php/Arya_Flint,NaN,NaN,Rodrik Stark (son of Beron),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,510,Betha Blackwood,"[House Blackwood, House Targaryen]",House Blackwood,[Shaera Targaryen],http://awoiaf.westeros.org/index.php/Betha_Bla...,NaN,NaN,Aegon V Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,526,Borros Baratheon,"[House Baratheon, Greens]",Boremund Baratheon,None,http://awoiaf.westeros.org/index.php/Borros_Ba...,NaN,NaN,Elenda Caron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,75,Cerissa Brax,"[House Brax, House Lannister]",NaN,None,http://awoiaf.westeros.org/index.php/Cerissa_Brax,NaN,NaN,Damon Lannister (lord),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,551,Cersei Lannister,"[House Lannister, House Baratheon of King's La...",Tywin Lannister,"[Joffrey Baratheon, Kevan Lannister, Margaery ...",http://awoiaf.westeros.org/index.php/Cersei_La...,NaN,Joanna Lannister,Robert I Baratheon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# all_relations_with_spouse.reset_index(inplace=True)
# all_no_spouse.reset_index(inplace=True)
final_data = pd.concat([all_relations_with_spouse, all_no_spouse])
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1342 entries, 0 to 1344
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 549 non-null    float64
 1   name                  1342 non-null   object
 2   allegiance            1201 non-null   object
 3   father                982 non-null    object
 4   successor             210 non-null    object
 5   url                   1342 non-null   object
 6   fatherRumored         11 non-null     object
 7   mother                512 non-null    object
 8   spouse                549 non-null    object
 9   motherRumored         2 non-null      object
 10  name_spouse           443 non-null    object
 11  allegiance_spouse     429 non-null    object
 12  father_spouse         226 non-null    object
 13  successor_spouse      57 non-null     object
 14  url_spouse            443 non-null    object
 15  fatherRumored_spouse  2 non-null      object
 16  mother_spouse         141 non-null    object
 17  spouse_spouse         443 non-null    object
 18  motherRumored_spouse  0 non-null      object
dtypes: float64(1), object(18)
memory usage: 209.7+ KB

In [26]:
# Save final dataset
# all_usable_data.to_json('./ice_and_fire_final.json', orient='records')